.App{overflow: hidden;}

.RevenueMain-container{
    width: 100vw;   
}

.Revenue-container{
    height: 100%;
    padding: 20px;
    width: 90%;
    position: relative;
}
.Revenue-top-prev{
    display: flex;
    justify-content: space-evenly;
    margin-left: 10vw;
}

.Rev-prev-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Rev-prev-top-border{
    width: 14vw;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background: lightgray;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 1px 2px 3px 0px grey;
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Rev-prev-container{
    padding: 20px;
    padding-top: 5px;
    width: 14vw;
    background: white;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 1px 2px 3px 0px grey;
}
.Rev-prev-container > h3{
    margin-top: 0;
    margin-bottom: 10px;
}
.Rev-prev-container > small{
    width: 100%;
    display: inline-flex;
    margin-bottom: 5px;
}
.Rev-prev-container > span{
    padding: 5px;
    background: lightgray;
    margin-top: 5px;
}
.Rev-Home-Route{
    top: 200px;
    width: 80px;
    padding: 15px;
    margin-bottom: 10px;
    background: #854901;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px grey;
    
    
}
.Rev-Home-Route a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.Rev-Home-Route img{
    width: 25px;
}
.Rev-options-panel{
    height: 80vh;
    position: absolute;
    width: 500px;
    background: whitesmoke;
    right: 0vw;
    border-radius: 5px 0px 0px 5px;
    border: 2px solid lightgray;
    border-right: none;
    transform: translateX(100%);
    transition: .3s;
    overflow: hidden;
}

.panel-active{
    height: 80vh;
    position: absolute;
    width: 500px;
    background: white;
    right: 0vw;
    border-radius: 5px 0px 0px 5px;
    border: 2px solid gray;
    border-right: none;
    transform: translateX(25%);
    transition: .3s;
    opacity: .95;
    overflow: hidden;
}

.Rev-content-panel-container{
display: flex;
}
.Revenue-content{
    width: 100%;
}
.panel-arrow{
    width: 40px;
    float: left;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
.panel-arrow:hover{
    border: 2px solid #75b3c6;
    cursor: pointer;
}
.panel-banner{
    width: 100%;
    height: 30px;
    background: #854901;
}
.panel-view-options{
    margin-left: 25%;
    text-align: start;
}
.panel-view-options h2{
    color: gray;
    margin-left: 25%;
}